<!DOCTYPE html>

<html lang="fr">

        <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>OriPhoto</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../style.css" rel="stylesheet">
    </head>

    <body>

        <header class="container sticky-top bg-dark mb-4">
            <nav class="navbar navbar-dark">
                <a id="brandshop" class="navbar-brand text-warning" href="#"></a>
                <div class="">
                    <div class="navbar-nav flex-row">
                        
                        <span>&emsp;</span>
                        <a class="nav-item nav-link text-warning" href="../index.html"><span class="material-icons">menu_book</span></a>
                        <span>&emsp;</span> 
                    </div>
                </div>
            </nav>
        </header>

        <main> 
        
            <div id="bill-container" class="container d-flex flex-column align-items-center">
                <div id="thanksbox" class="w-75 bg-success text-light my-2 p-1 rounded"></div>
                <ul id="info-order" class="w-75 bg-secondary text-light my-1 p-1 rounded">
                    <li class="list-group-item list-group-item-secondary">Un email récapitulant le détail de votre commande vous a été adressé</li>
                    <li class="list-group-item list-group-item-secondary">Nous déclenchons immédiatement le traitement de votre commande, vous serez notifié par mail des étapes de préparation et d'expédition</li>
                    <li class="list-group-item list-group-item-secondary">Conservez précieusement votre référence de commande, il est nécessaire de la rappeler dans toute correspondance</li>
                </ul>
                <a id="resetcloselink" class="text-dark text-decoration-none bg-warning p-2 my-2 border border-secondary rounded" 
                    href="../index.html">Retourner à l'accueil</a>
            </div>
        
    
        </main>
    
    <footer class="container bg-dark text-light text-center">Orinoco®</footer>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../front-end_js/chooseShop.js"></script>
    <script src="../front-end_js/cart.js"></script>
    <script src="../front-end_js/end-transaction.js"></script> 

    </body>

</html>